#videoInfo {
  font-size: 16px;
  font-weight: 200;
  color: $gray8;

  #videoMeta__hashtags,
  #video__description__hashtags {
    display: flex;
    li {
      margin-right: 5px;
      color: $link;
    }
  }

  #videoMeta {
    padding: 15px 0px;

    #videoMeta__hashtags {
      font-size: 14px;
    }

    h1 {
      font-size: 22px;
      font-weight: 500;
      color: white;
      margin-bottom: 10px;
    }
  }

  #video__description {
    border-top: $gray6 1px solid;
    border-bottom: $gray6 1px solid;
    padding: 20px 10px;

    #video__uploader {
      display: flex;
      align-items: center;
      font-size: 16px;
      font-weight: 400;
      color: white;
      width: fit-content;

      .video__uploader-avatar {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: white;
        margin-right: 10px;
      }
    }
    #video__description__hashtags,
    p {
      margin-left: 60px;
    }
    #video__description__hashtags {
      padding: 20px 0px;
    }
    p {
      color: white;
    }
  }

  #video__edit {
    display: flex;
    justify-content: end;
    margin-top: 5px;
  }
}
.video__comments {
  margin: 30px 0px;

  #commentForm {
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    textarea {
      resize: none;
      width: 100%;
      background: none;
      border: none;
      border-bottom: 1px $gray6 solid;
      color: white;
      font-size: 16px;
    }
    textarea:focus {
      outline: 0;
    }
    button {
      width: fit-content;
      color: $gray8;
      background-color: $link;
      padding: 5px 15px;
      margin-top: 5px;
      font-size: 16px;
      font-weight: 100;
      border: 0;
      cursor: pointer;
    }
  }
}

.comment-mixin__container {
  margin: 20px 0;
  width: 100%;
  display: flex;
  align-items: flex-start;

  .comment-mixin__avatar {
    img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: white;
    }
  }

  .comment-mixin__data {
    max-width: calc(100% - 40px);
    vertical-align: middle;
    flex-grow: 1;
    margin: 0px 15px;
    .comment-mixin__header {
      margin-bottom: 2px;
      span:first-child {
        font-size: 14px;
        margin-right: 5px;
      }
      span:last-child {
        font-size: 13px;
        color: $gray6;
      }
    }
    .comment-mixin__text {
      font-size: 16px;
      font-weight: 300;
      width: 95%;
      p {
        white-space: pre-wrap;
        word-wrap: break-word;
        line-height: 16px;
      }
    }
    .comment-edit {
      display: flex;
      justify-content: end;
    }
  }
}
