extends base.pug

block content 
    form(method="POST")
        input(placeholder="Name", type="text", required, name="name")
        input(placeholder="Username", type="text", required, name="username")
        input(placeholder="Password", type="password", required, name="password")
        input(placeholder="Email", type="email", required, name="email")
        input(placeholder="Location", type="text", required, name="location")
        input(type="submit", value="Join")