extends base.pug
include mixins/search-video

block content 
    form(method="GET").search__form
        input(placeholder="Search by title", name="keyword", type="text")
        button
            i.fas.fa-search
    div.search__container
        each video in videos
            +search-video(video)
        else 
            span.empty__message No videos found.