div.social-login
    a(href="/users/github/start").social-btn.social-btn__github
        i.fab.fa-github   
        br
        | Continue with Github &rarr;
    a(href="/users/kakao/start").social-btn.social-btn__kakao
        i.fas.fa-comment-alt   
        br
        | Continue with Kakao &rarr;